<div class="row grid-margin">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Manage Users</h6>
        <div class="d-flex table-responsive">
          <div class="btn-group mr-2">
            <a [routerLink]="['/adduser']" class="btn btn-sm btn-info"><i class="mdi mdi-plus-circle-outline"></i> Add</a>
          </div>
        
         
          <div class="btn-group ml-auto mr-2 border-0">
            <input type="text" class="form-control" placeholder="Search Here">
          </div>
         
        </div>
        <div class="table-responsive">
          <table class="table mt-3 border-top">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Added on</th>
                <th>Registered Via</th>
                
                <th>Avtar</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of lstUser$ | async">
                <td>{{u.fullName}}</td>
                <td>{{u.email}}</td>
                <td>{{u.updatedDate}}</td>
                <td>{{u.RegisteredVia}}</td>
                <td> <img src="{{getImg(u._id)}}" alt="image"/></td>
                <td>  <div class="btn-group mr-2">
                    <button type="button" class="btn btn-light" (click)="edit(u._id)"><i class="mdi mdi-alert-circle-outline"></i></button>
                    <button type="button" class="btn btn-light" (click)="delete(u._id)"><i class="mdi mdi-delete-empty"></i></button>
                  </div></td>

              </tr>
             
            </tbody>
          </table>
        </div>
        <!-- <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row mt-4">
          <p class="mb-3 mb-sm-0">Showing 1 to 20 of 20 entries</p>
          <nav>
            <ul class="pagination pagination-info mb-0">
              <li class="page-item"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item"><a class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
            </ul>
          </nav>
        </div> -->
      </div>
    </div>
  </div>
</div>
